
<div class="container">
    <h1>Instructor List</h1>
    <table class="table  table-striped table-hover table-bordered ">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Name</th>
          <th>Father;s Name</th>
          <th>Mother Name</th>
          <th>Mobile No</th>
         <th>Email</th>
         <th>Subject</th>
         <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (instructor of instructors; track instructor.name) {
        <!-- <tr *ngFor="let instructor of instructors"> -->
          <tr>
            <td>{{instructors.indexOf(instructor) + 1}}</td>
          <td>{{ instructor.id }}</td>
          <td>{{ instructor.name }}</td>
          <td>{{ instructor.fname }}</td>
          <td>{{ instructor.mname }}</td>
          <td>{{ instructor.mobileno }}</td>
          <td>{{ instructor.email }}</td>
          <td>{{ instructor.subject }}</td>
          <td>{{ instructor.address }}</td>
          <td>
            <button class="btn btn-primary" (click)="editInstructor(instructor)">Edit</button>
            <button class="btn btn-warning" (click)="deleteInstructor(instructor)">Delete</button>
          </td>
        </tr>}
      </tbody>
    </table>
    <button  class=" btn btn-primary" (click)="addNewInstructor()">Add Instructor</button>
  </div>
  
