<nav class="navbar navbar-expand-lg" style="z-index: 1;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="col mb-0">
        <table>

          <tr>
            <td><img
                src="https://st5.depositphotos.com/40637134/62416/v/450/depositphotos_624166858-stock-illustration-golden-luxury-monogram-logo-initial.jpg"
                alt=""></td>
          </tr>
          <tr>
            <td>
              <h6><i>EduCare</i></h6>
            </td>
          </tr>
        </table>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/course">Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Exams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/bookstore">BookStore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">PDF</a>
        </li>


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

      </ul>
      <form >
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"

          >
          <button class="btn btn-light" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></button>  -->

          @if (!isUserLoggedIn) {
          <div class="d-inline p-2">
          <button type="button" class="btn btn-primary">
            <a class="nav-link" href="http://localhost:4300/register">Registration</a>
          </button>
        </div>
        <div class="d-inline p-2">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"
            data-bs-whatever="@mdo">Login</button>
          </div>
        } @else {
          <h5>
            User: <i>{{loggedinUserName}}</i>
            (<a (click)="logoutBtn()" style="cursor: pointer;font-size: 16px; color: rgb(20, 19, 19);">Logout</a>)
          </h5>

        }


      </form>


    </div>
  </div>
</nav>

<!-- Button trigger modal (register) -->
 <app-register></app-register>




<!-- For login button (login) -->
<app-login></app-login>



