
footer {
  background-color: #000000;
  color: white;
 height: 400px;

}
.btn{
  color: plum;
}
img{
  height: 100px;
  width: 100px;
}
.a{
  height: 30px;
  width: 30px;
}
.foot {
  background-color: rgb(14, 197, 230);
  padding: 20px;
  text-align: center;
}

.foo p {
  text-align: justify;
  color: white;
  font-size: 16px;
  margin-left: 500px;
}