<div class="aa">
    <div class="row">
      <div class="col">
        <div class="card h-100">
          <img src="https://t4.ftcdn.net/jpg/00/65/77/27/240_F_65772719_A1UV5kLi5nCEWI0BNLLiFaBPEkUbv5Fv.jpg" alt="Admin Image">
          <div class="card-body">
            <h3 class="card-title">Admin</h3>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
              <a class="nav-link">Registration</a>
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://static.vecteezy.com/system/resources/thumbnails/000/439/863/small/Basic_Ui__28186_29.jpg" alt="Instructor Image">
          <div class="card-body">
            <h3 class="card-title">Instructor</h3>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" type="submit">Registration</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://logowik.com/content/uploads/images/810_student.jpg" alt="Students Image">
          <div class="card-body">
            <h3 class="card-title">Students</h3>
          </div>
          <div class="card-footer">
            <button class="btn btn-success" type="submit">Registration</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
