<div class="container">
    <h1>Book List</h1>
    <table class="table table-striped table-hover table-bordered ">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Book Name</th>
          <th>Author Name</th>
          
         <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (book of books; track book.name) {
        <!-- <tr *ngFor="let book of books"> -->
          <tr>
            <td>{{books.indexOf(book) + 1}}</td>
          <td>{{ book.id }}</td>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
         
          <td>{{ book.price }}</td>
          <td>
            <button class="btn btn-primary" (click)="editBook(book)">Edit</button>
            <button class="btn btn-warning" (click)="deleteBook(book)">Delete</button>
          </td>
        </tr>}
      </tbody>
    </table>
    <button  class=" btn btn-primary" (click)="addNewBook()">Add Book</button>
  </div>
  

