<div class="container">
    <h1>Course List</h1>
    <table class="table table-striped table-hover table-bordered ">
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>CourseName</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>Instructor</th>
         <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (course of courses; track course.name) {
        <!-- <tr *ngFor="let course of courses"> -->
          <tr>
            <td>{{courses.indexOf(course) + 1}}</td>
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.startDate }}</td>
          <td>{{ course.instructor }}</td>
          <td>{{ course.duration }}</td>
          <td>
            <button class="btn btn-primary" (click)="editCourse(course)">Edit</button>
            <button class="btn btn-warning" (click)="deleteCourse(course)">Delete</button>
          </td>
        </tr>}
      </tbody>
    </table>
    <button  class=" btn btn-primary" (click)="addNewCourse()">Add Course</button>
  </div>
  
