<h1>Programming Books</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <div class="card" style="width: 18rem;">
        <img src="https://cdn.hackr.io/uploads/posts/attachments/clean-code-a-handbook-of-agile-software-craftsmanship-1st-edition.webp" alt="">
         <div class="card-body">
           <h5 class="card-title">Clean Code by Robert C. Martin</h5>
           <p class="card-text">JTaking the top spot on my list is Clean Code by Robert C. Martin, who....</p>
         </div>

         <div class="card-body d-flex justify-content-between align-items-center">
           <a href="/details" class="btn btn-primary">View Details</a>
           <!-- <a href="#" class="btn btn-primary">BUY Here</a> -->
         </div>
       </div>

   <div class="card" style="width: 18rem;">
    <img src="https://cdn.hackr.io/uploads/posts/attachments/introduction-to-algorithms-eastern-economy-edition.webp" alt="">
     <div class="card-body">
       <h5 class="card-title">Introduction to Algorithms</h5>
       <p class="card-text">If you want a programming book with extensive coverage of algorithms coupl...</p>
     </div>

     <div class="card-body d-flex justify-content-between align-items-center">
       <a href="/details" class="btn btn-primary">View Details</a>
       <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
     </div>
   </div>
   <div class="card" style="width: 18rem;">
    <img src="https://cdn.hackr.io/uploads/posts/attachments/structure-and-interpretation-of-computer-programs-2nd-edition-mit-electrical-engineering-and-computer-science1.webp" alt="">
     <div class="card-body">
       <h5 class="card-title">Structure and Interpretation of Computer Programs (SICP)</h5>
       <p class="card-text">
        his is an interesting choice because while it's more than 25...</p>
     </div>

     <div class="card-body d-flex justify-content-between align-items-center">
       <a href="/details" class="btn btn-primary">View Details</a>
       <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
     </div>
   </div>
   <div class="card" style="width: 18rem;">
    <img src="https://cdn.hackr.io/uploads/posts/attachments/the-pragmatic-programmer-your-journey-to-mastery-20th-anniversary-edition-2nd-edition-2nd-edition.webp" alt="">
     <div class="card-body">
       <h5 class="card-title">The Pragmatic Programmer</h5>
       <p class="card-text">Introduction to Programming with Python and Java Specialization.Python is..</p>
     </div>

     <div class="card-body d-flex justify-content-between align-items-center">
       <a href="/details" class="btn btn-primary">View Details</a>
       <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
     </div>
   </div>
</div>
<h1>Job Preparation Books</h1>
<div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSrcgxzDhdQ9PBBtHoVUhx4njxFmfftR9hjw&s" alt="">
         <div class="card-body">
           <h5 class="card-title">Vocabulary</h5>
           <p class="card-text">Vocabulary is very ipmortant.....</p>
         </div>

         <div class="card-body d-flex justify-content-between align-items-center">
           <a href="/details" class="btn btn-primary">View Details</a>
           <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
         </div>
       </div>

       <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAfKjTNnLx8_nj7koodubmn1TyGp05x1jdJw&s" alt="">
         <div class="card-body">
           <h5 class="card-title">English Grammer</h5>
           <p class="card-text">English grammer is....</p>
         </div>

         <div class="card-body d-flex justify-content-between align-items-center">
           <a href="/details" class="btn btn-primary">View Details</a>
           <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
         </div>
       </div>
       <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjR8wMOV1rZvTk3q8DISWtSac7yVM-TDWQgA&s" alt="">

         <div class="card-body">
           <h5 class="card-title">Spoken English</h5>
           <p class="card-text">Spoken english is...</p>
         </div>

         <div class="card-body d-flex justify-content-between align-items-center">
           <a href="/details" class="btn btn-primary">View Details</a>
           <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
         </div>
       </div>
       <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sUR61z_W14S_5Gbuy2YnIuds55AuPZYIJQ&s" alt="">
         <div class="card-body">
           <h5 class="card-title">Job Interview</h5>
           <p class="card-text">Interview is...</p>
         </div>

         <div class="card-body d-flex justify-content-between align-items-center">
           <a href="/details" class="btn btn-primary">View Details</a>
           <!-- <a href="#" class="btn btn-primary">Buy Here</a> -->
         </div>
       </div>
    </div>
