.a{
  background-image: url('https://biddabari.com/frontend/assets/images/exam-page/footer-background.png');
  color: rgba(255, 255, 255, 0.984);
  font-size: larger;
}
h1{
  color: #10ac63;
}
h2{
  color: #21a2cc;
}
h3{
  color: #0d52a1;
}
