<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form (submit)="saveStudent()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Admin Registration Form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
              <label for="name">Full Name:</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="fname">Father's Name:</label>
              <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="fname" placeholder="Enter your father's name">
            </div>
            <div class="mb-3">
              <label for="mname">Mother's Name:</label>
              <input type="text" class="form-control" id="mname" name="mname" [(ngModel)]="mname" placeholder="Enter your mother's name">
            </div>
            <div class="mb-3">
              <label for="address">Address:</label>
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address" placeholder="Enter your address">
            </div>
            <div class="mb-3">
              <label for="mobile">Mobile No:</label>
              <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile" placeholder="Enter your valid mobile number">
            </div>
            <div class="mb-3">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="Enter your valid email address">
            </div>
            <div class="mb-3">
              <label for="pass">Password:</label>
              <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass" placeholder="Set a strong password">
            </div>
            <!-- <div class="mb-3">
              <label for="cpass">Confirm Password:</label>
              <input type="password" class="form-control" id="cpass" placeholder="Confirm your password">
            </div> -->
  
  
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
      </div>
    </div>
    </form>
  </div>